<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartID</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <a class="logo" href="/" title="Avaleht">
        <img src="css/images/logo.jpg">
    </a>

    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>

    <div class="menu">
        <a href="/smart-id/login" class="button">Smart ID</a>
    </div>
</div>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="countryCode" name="countryCode" placeholder="EE">
        </div>
        <div class="form-group col-md-6">
            <input type="email" class="form-control" id="nationalIdentityNumber" name="nationalIdentityNumber"
                   aria-label="E-mail" placeholder="XXXXXXXXXXX">
        </div>
    </div>

    <p><button type="submit" class="btn btn-lg btn-success">Start Smart-ID</button></p>
</form>
</body>
</html>