<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartID Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>
<div class="header">
    <a class="logo" href="/" title="Avaleht">
        <img src="css/images/logo.jpg">
    </a>

    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>

    <div class="menu">
        <a href="/smart-id/login" class="button">Smart ID</a>
    </div>
</div>

<div class="input">
    <center><h1>Logi sisse</h1></center>
    <input type="text" class="form-control" name="countryCode" placeholder="EE">
    <input type="text" class="form-control" name="countryCode" placeholder="XXXXXXXXXXX">
</div>
</body>
</html>