<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang-code}">
<head>
    <meta charset="UTF-8">
    <title>Loomade varjupaik</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <a class="logo" href="/avaleht" title="Avaleht">
        <img src="css/images/logo.jpg">
    </a>

    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>
    <a class="en" href="/?lang=en" th:text="#{lang-en}"></a>
    <a class="en" href="/?lang=et" th:text="#{lang-et}"></a>

    <div class="menu">
        <a href="/loomadvp" class="button" th:text="#{loomad-varjupaigas}"></a>
        <a href="/viiols" class="button" th:text="#{vii-ols}"></a>
        <a href="/kontakt" class="button" th:text="#{kontakt}"></a>
    </div>
</div>
<br/><br/><br/><br/><br/>


<div class="meist">
    <center><h1 th:text="#{meist}"></h1></center>
    <h3 th:text="#{tekst-meist}">(vt. <a href="kontakt.html" class="button">Kontakt</a>)</h3>
</div>
</body>
</html>