<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang-code}">
<head>
    <meta charset="UTF-8">
    <title>Loomade varjupaik</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <a class="logo" href="/" title="Avaleht">
        <img src="css/images/logo - Copy-min.jpg" alt="Logo">
    </a>

    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>
    <a class="phone" th:href="@{/oauth2/authorization/google}">Google Login</a>
    <a class="phone" href="/login">Login</a>
    <a id="sign_out" class="phone" th:href="@{/logout}">Sign out</a>
    <a class="phone" href="/smart-id/login">SmartID</a>
    <a id="en" class="en" href="/?lang=en" th:text="#{lang-en}"></a>
    <a id="et" class="en" href="/?lang=et" th:text="#{lang-et}"></a>

    <div class="menu">
        <a href="/loomadvp" class="button" th:text="#{loomad-varjupaigas}"></a>
        <a href="/viiols" class="button" th:text="#{vii-ols}"></a>
        <a href="/kontakt" class="button" th:text="#{kontakt}"></a>
    </div>
</div>
<br/><br/><br/><br/><br/>


<div class="meist">
    <h1 id="meist" th:text="#{meist}"></h1>
    <h2 th:text="#{tekst-meist}">(vt. <a href="kontakt.html" class="button">Kontakt</a>)</h2>
</div>

<div class="jumbotron">
    <h1 th:text="#{liitu-uudiskirjaga}"></h1>
    <p th:text="#{ole-kursis}"></p>
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sonum">Sõnum:
                    <input type="text" class="form-control" id="sonum" name="sonum" placeholder="Sõnum">
                </label>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email:
                    <input type="email" class="form-control" id="email" name="email" aria-label="Email" placeholder="Email">
                </label>
            </div>
        </div>

        <p><button type="submit" class="btn btn-lg btn-success">Saada</button></p>
    </form>

</div>

<div class="rowmarketing" th:each="i : ${#numbers.sequence(0, uudiskirjad.size(), 2)}">
    <div class="col-lg-6" th:if="${i < uudiskirjad.size()}">
        <p th:text="${'Email: ' + uudiskirjad.get(i).getEmail()}"></p>
        <p th:text="${'Sonum: ' + uudiskirjad.get(i).getSonum()}"></p>
    </div>
    <div class="col-lg-6" th:if="${i + 1 < uudiskirjad.size()}">
        <p th:text="${'Email: ' + uudiskirjad.get(i + 1).getEmail()}"></p>
        <p th:text="${'Sonum: ' + uudiskirjad.get(i + 1).getSonum()}"></p>
    </div>
</div>
</body>
</html>