<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang-code}">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Meie ettevõtte kontaktandmed koos määratud asukohaga Google Map kaardi peal.">
    <title>Ettevõte kontaktandmed</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js" defer></script>
</head>
<body>
<div class="header">
    <a class="logo" href="/" title="Avaleht">
        <img src="css/images/logo - Copy-min.jpg">
    </a>
    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>
    <div class="menu">
        <a href="/kontakt" class="button" th:text="#{kontakt}"></a>
    </div>

</div>

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZqigifFy7McwXTsVmsQBUj1ctaysu6OY&callback=initMap">
</script>
</body>
</html>





