<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang-code}">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <a class="logo" href="/avaleht" title="Avaleht">
        <img src="css/images/logo.jpg">
    </a>
    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>
    <div class="menu">
        <a href="/kontakt" class="button" th:text="#{kontakt}"></a>
    </div>
</div>
</body>
</html>