<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="css/login2.css">
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="loginbox">
    <img src="css/images/avatar.jpg" class="user">
    <h1>Login Here</h1>
    <form th:action="@{/login}" method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" name="" value="login">
        <a href="#">Lost your password?</a> <br/>
        <a href="#">Don't have an account?</a>
    </form>
</div>
</body>
</html>
