<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang-code}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kui mingi loom vajab ajalist kodu, siis kindlasti võtke meiega ühendust
    ning viige oma loom meile varjupaika.">
    <title>Vii oma loom siia</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="js/vii_ols.js" defer></script>
</head>
<body>
<div class="header">
    <a class="logo" href="/" title="Avaleht">
        <img src="css/images/logo.jpg">
    </a>

    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>

    <div class="menu">
        <a href="/viiols" class="button" th:text="#{vii-ols}"></a>
    </div>
</div>

<div class="input">
    <form id="lisaAvaldus" method="post">
        <p th:text="#{liik}"></p><input type="text" id="liik" name="liik"  required minlength="3" maxlength="10"><br/><br/>
        <p th:text="#{vanus}"></p><input type="number" id="vanus" name="vanus" min="1" max="50"><br/><br/>
        <p th:text="#{linn}"></p><input type="text" id="linn" name="linn" required minlength="3" maxlength="10"><br/><br/>
        <p th:text="#{pilt}"></p><input type="file" id="pilt" name="avatarImage"><br/><br/>

        <!--<input type="submit" value="Submit" onclick="outputrequest()"/>-->
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>