<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{lang-code}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kasutajate uudiskirjade esitused.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Uudiskirjade saamine</title>
    <link rel="icon" href="../../favicon.ico">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/webscoket/subscription.js"></script>
</head>

<body>

<div class="container">

    <div id="subscription-notifications-container">

    </div>

    <div class="jumbotron">
        <h1>Uudiskirjad</h1>
    </div>

</div>
</body>
</html>
