<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vii oma loom siia</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>
<div class="header">
    <a class="logo" href="/avaleht" title="Avaleht">
        <img src="https://cdn.icon-icons.com/icons2/38/PNG/512/sheep_animal_5824.png">
    </a>

    <a class="phone" href="tel:+37255555555">(+372) 55555555</a>

    <div class="menu">
        <a href="/viiols" class="button">Vii oma loom siia</a>
    </div>
</div>

<div class="input">
    <form method="post">
        Liik: <input type="text" name="liik"  required minlength="3" maxlength="10"><br/><br/>
        Vanus: <input type="number" name="vanus" min="1" max="50"><br/><br/>
        Linn: <input type="text" name="linn" required minlength="3" maxlength="10"><br/><br/>
        <input type="submit" value="Submit" onclick="outputrequest()"/>
    </form>
</div>
</body>
</html>